<div class="row">
  <div class="col-2 col-md-1">
    <%= image_tag( current_user.photo, width: 40, height: 40 ) %>
  </div>
  <div class='col-10 col-md-11'>
    <%= form_with model: @comment, local: true, class: 'form-inline col-12' do |f| %>
    <%= f.text_field :post_id, type: 'hidden', value: post_id %>
    <%= f.text_field :content, class: 'form-control col-9' %>
    <%= f.submit 'comment', class: 'btn btn-success col-3' %>
    <% end %>
  </div>
</div>