<% provide(:title, "Edit " + @user.name.to_s)  %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 mt-5 bg-white">
      <%= form_with model: @user, local: true do | f | %>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus:true, class:"form-control" %>

        <%= f.label :bio %>
        <%= f.text_area :bio, class:"form-control" %>

        <%= f.label :photo, "Link to a picture" %>
        <%= f.text_field :photo,  class:"form-control" %>

        <%= f.submit "Update Profile",  class:"btn btn-success" %>

      <% end %>
    </div>
  </div>
</div>