<div class="row">
  <div class="col-2 col-md-1">
    <%= image_tag( current_user.photo, width: 40, height: 40 ) %>
  </div>
  <div class='col-10 col-md-11'>
    <%= form_with model: @post, local: true do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
    <%= f.submit 'Create post', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>