<div>
  <%= post.content %>
  <p>Author: <%= post.user.name %> </p>
  <i class="material-icons">thumb_up</i>
  <span class="likes"><%= post.likes.count %></span>
  <div>
    <%= render 'comments/new', post_id: post.id %>
    <%= render post.comments %>
  </div>
</div>