<nav class="navbar navbar-expand-lg">
  <%= link_to "Facebook Clone", root_url, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to friendships_path, class:"nav-link" do %>
          <i class="material-icons" style="font-size: 1rem;">notification_important</i>
            <%= current_user.friend_request.count %> Friend request
        <% end %>
      </li>
      <li class="nav-item">
        <span class='nav-link'><%= current_user.name %></span>
      </li>
      <li class="nav-item">
        <%= link_to "Profile", user_path(current_user), class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method:"DELETE", class:"nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Log In", new_user_session_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Register", new_user_registration_path, class:"nav-link" %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>